
// Global -------------------------------
$background-color: #272527;
$base-font-size: 12px;
$min-height: 420px;
$min-width: 250px;
$max-width: 800px;
$sidebar-width: 240px;
$padding: 20px;
$top-padding: $padding * 1.5;
$menu-icon-size: 40px;

// Colors -------------------------------

$white: #fff;
$black: #000;
$light-blue: #72a0de;
$blue: #005ede;
$inverted-blue: #DEA700;
$light-grey: #d6d6da;
$medium-light-grey: #979799;
$medium-grey: #575757;
$dark-grey: #3f3d3d;
$very-dark-grey: #2a2a2a;
$most-dark-grey: #151415;
$red: #ff0000;

// Fonts --------------------------------

$base-fallback: 'Helvetica Neue', helvetica, arial, sans-serif;

$block-font: telegrafico, $base-fallback;
$proxima: proxima, $base-fallback;
$lovelo: lovelo, $base-fallback;
$nexa: nexa, $base-fallback;
$raleway: $base-fallback;
// $raleway: raleway, $base-fallback;
