.template-post {
	.title {
		margin-bottom: $padding*1.1;
		@include font($proxima, 28px);
	}
	.external-icon {
		height: 18px;
		margin-bottom: -2px;
	}
	p.center {
		text-align: center;
	}
	img.center {
		max-height: none;
		display: block;
    	margin-left: auto;
    	margin-right: auto;
	}
	.date {
		margin-top: -10px;
		margin-bottom: 10px;
		color: rgba($black, .5);
	}
	h2.title {
		// text-align: center;
	}
}