{% if articles == null %}{% assign articles = site.pages | where:"dir", page.dir %}{% endif %}

{% for article in articles %}
{% if article.name != "index.html" %}

	{% capture datestring %}{% if article.date %} <span class="date">- {{ article.date }}</span>{% endif %}{% endcapture %}

	{% capture href %}{{ article.path | replace: "content/", "" | split: "." | first }}{% endcapture %}

	<div id="{{ article.id }}" class="article {% if article.content != "" %}linked{% endif %} {{ article.class }}">
		<h3 class="article-title">
		{% if article.content != "" %}
			<a class="details" href="/#!/{{ href }}">{{ article.title }}</a>{{ datestring }}
		{% else %}
			{{ article.title }}{{ datestring }}
		{% endif %}
		</h3>
		{% if article.description %}
		<p class="article-description">{{ article.description }}</p>
		{% endif %}
	</div>

{% endif %}
{% endfor %}