{% if articles == null %}{% assign articles = site.pages | where:"dir", page.dir %}{% endif %}

{% for article in articles %}
{% if article.name != "index.html" %}

	{% capture datestring %}{% if article.date %} <span class="date">- {{ article.date }}</span>{% endif %}{% endcapture %}

	{% capture href %}{{ article.path | replace: "content/", "" | split: "." | first }}{% endcapture %}

	{% capture content %}{{ article.content | strip_newlines }}{% endcapture %}

	<div id="{{ article.id }}" class="article {% if content != "" %}linked{% endif %} {{ article.class }}">

		{% if content == "" %}
			<h3 class="article-title">{{ article.title }}{{ datestring }}</h3>
		{% else %}
			<a class="details" href="/#!/{{ href }}">
				<h3 class="article-title">{{ article.title }}{{ datestring }}</h3>
			</a>
		{% endif %}

		{% if article.description %}
		<p class="article-description">{{ article.description }}</p>
		{% endif %}
	</div>

{% endif %}
{% endfor %}