<head>
	<meta charset='utf-8'/>
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<link rel="stylesheet" href="{{ "/css/main.min.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<link rel="apple-touch-icon" sizes="57x57" href="{{ site.favicon.dir }}apple-touch-icon-57x57.png?v={{ site.favicon.version }}">
	<link rel="apple-touch-icon" sizes="57x57" href="{{ site.favicon.dir }}apple-touch-icon-57x57.png?v={{ site.favicon.version }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ site.favicon.dir }}apple-touch-icon-114x114.png?v={{ site.favicon.version }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ site.favicon.dir }}apple-touch-icon-72x72.png?v={{ site.favicon.version }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ site.favicon.dir }}apple-touch-icon-144x144.png?v={{ site.favicon.version }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ site.favicon.dir }}apple-touch-icon-60x60.png?v={{ site.favicon.version }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ site.favicon.dir }}apple-touch-icon-120x120.png?v={{ site.favicon.version }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ site.favicon.dir }}apple-touch-icon-76x76.png?v={{ site.favicon.version }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ site.favicon.dir }}apple-touch-icon-152x152.png?v={{ site.favicon.version }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.favicon.dir }}apple-touch-icon-180x180.png?v={{ site.favicon.version }}">
	<link rel="shortcut icon" href="{{ site.favicon.dir }}favicon.ico?v={{ site.favicon.version }}">
	<link rel="icon" type="image/png" href="{{ site.favicon.dir }}favicon-192x192.png?v={{ site.favicon.version }}" sizes="192x192">
	<link rel="icon" type="image/png" href="{{ site.favicon.dir }}favicon-160x160.png?v={{ site.favicon.version }}" sizes="160x160">
	<link rel="icon" type="image/png" href="{{ site.favicon.dir }}favicon-96x96.png?v={{ site.favicon.version }}" sizes="96x96">
	<link rel="icon" type="image/png" href="{{ site.favicon.dir }}favicon-16x16.png?v={{ site.favicon.version }}" sizes="16x16">
	<link rel="icon" type="image/png" href="{{ site.favicon.dir }}favicon-32x32.png?v={{ site.favicon.version }}" sizes="32x32">

	<meta name="msapplication-TileColor" content="{{ site.favicon.tile_color }}">
	<meta name="msapplication-TileImage" content="{{ site.favicon.dir }}mstile-144x144.png?v={{ site.favicon.version }}">
	<meta name="msapplication-config" content="{{ site.favicon.dir }}browserconfig.xml">

	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
	<meta property="og:type" content="{{ site.type }}" />
	<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
	<meta property="og:image" content="{{ site.favicon.dir }}apple-touch-icon-180x180.png?v={{ site.favicon.version }}" />

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', '{{ site.google.analytics_id }}', 'auto');
		ga('send', 'pageview');
	</script>
</head>