{% assign sidebar = site.data.sidebar %}

<div id="sidebar">
  <h1 class="main title"><a href="/">{{ sidebar.title }}</a></h1>
  <div id="top-links">
    {% for toplink in sidebar.toplinks %}
      <div class="link-container">
        <a target="{% if toplink.target %}{{ toplink.target }}{% else %}{{ sidebar.default.target }}{% endif %}" href="{{ toplink.href }}"><h3 id="{{ toplink.id }}">{{ toplink.title }}</h3></a>
      </div>
    {% endfor %}
  </div>
  
  <div id="bottom-links">
    {% for bottomlink in sidebar.bottomlinks %}
      <div class="link-container">
        <a target="{% if bottomlink.target %}{{ bottomlink.target }}{% else %}{{ sidebar.default.target }}{% endif %}" href="{{ bottomlink.href }}"><h3 id="{{ bottomlink.id }}">{{ bottomlink.title }}</h3></a>
      </div>
    {% endfor %}
  </div>

</div>