#content .detailed-content {
	min-width: 280px;
	background-color: white;
	overflow-y: scroll;
	position: absolute;
	width: 50%;
	height: 100%;
	right: 0;
	top: 0;
	display: none;
	@include box-shadow(-1px, 0, 0, $light-grey);
	.title {
		margin-bottom: 12px;
		@include font($proxima, 28px);
	}
}