#content .detailed-content {
	min-width: 280px;
	background-color: white;
	overflow-y: scroll;
	position: absolute;
	width: 50%;
	height: 100%;
	right: 0;
	top: 0;
	display: none;
	@include box-shadow(-1px, 0, 0, $light-grey);
	.title {
		margin-bottom: $padding*1.1;
		@include font($proxima, 28px);
	}
	.external-icon {
		height: 18px;
		margin-bottom: -2px;
	}
	img {
		max-height: none;
	}
}

//"<p><a target='_blank' href='http://keithandcassie.us'>KeithAndCassie.us Website</a></p>",
//"<p><a target='_blank' href='http://mikeysrun.com'>Mikey's Run Website</a></p>",